<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">

    <input type="text" v-model="username">
    <button @click="addUser">Add</button>

    <ul>
      <li v-for="(user, index) in users">
        {{ user.name }} 
        ||
        <button @click="updateUser(index)">Edit</button>
        ||
        <button @click="deleteUser(index)">Delete</button>
      </li>
    </ul>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        username:'',
        users: [
          {
            'name' : 'Muahammad Iqbal Mubarok',
          },
          {
            'name' : 'Ruby Purwanti',
          },
          {
            'name' : 'Faqih Muhammad',
          },
        ]
      },
      methods: {
        addUser: function () {
          this.users.push({
            name: this.username,
          });
          this.username=''
        },
        deleteUser: function (index) {
          if (confirm('Yakin ingin hapus ?')) {
            this.users.splice(index,1);
          }
        },
      }
    })
  </script>
</body>
</html>